@model IEnumerable<TrgovinaMVC.Models.racun>

@{
    ViewBag.Title = "Računi";
}

<div class="row justify-content-between mb-3">
    <input type="button" value="Kreiraj novi račun" class="btn btn-primary" onclick="location.href='@Url.Action("Create")'" />
    <select class="selectpicker" id="selektorTipa" data-style="btn-primary">
        <option>Gotovinski</option>
        <option>Virman</option>
    </select>
</div>
<h2>Lista računa</h2>

<div id="tabela">
    @Html.Partial("Racuni")
</div>

@section styles{
    <link href="/Content/bootstrap-select.min.css" rel="stylesheet" />
}


@section scripts{
    <script src="/Scripts/bootstrap-select.min.js"></script>

    <script>

    $("document").ready(function () {
                        var status = '@TempData["status"]'
            console.log(status)
            if (status == 'added')
                $.bootstrapGrowl("Uspešno ste kreirali račun.", { type: 'success' })

    })

    $("#selektorTipa").change(function () {
        var val = $(this).val()
            $("#tabela").fadeOut(250, function () {
                $(this).load("/racuns/Reload/" + val);
                $(this).fadeIn(250);
             })
    })
    </script>
}