@model IEnumerable<TrgovinaMVC.Models.racun>

@{
    ViewBag.Title = "Index";
}

<div class="row justify-content-between mb-3">
    <input type="button" value="Kreiraj novi račun" class="btn btn-primary" onclick="location.href='@Url.Action("Create")'" />
    <select class="selectpicker" id="selektor" data-style="btn-primary" onchange="TypeChange(this)">
        <option>Gotovinski</option>
        <option>Virman</option>
    </select>
</div>
<h2>Lista računa</h2>

<div id="tabela">
    @Html.Partial("Racuni")
</div>

@section scripts{


<script type="text/javascript">
    var idDelete;
    var elementDelete;

    $("document").ready(function () {
                        var status = '@TempData["status"]'
            console.log(status)
            if (status == 'added')
                $.bootstrapGrowl("Uspešno ste kreirali račun.", { type: 'success' })

    })

    function prepareDelete(id, element) {
        idDelete = id
        elementDelete = element
    }

    function Submit() {
            $.ajax({
                url: '@Url.Action("Delete")',
                type: "POST",
                data: { idRacun: idDelete },
                complete: function () {
                    $(elementDelete).parents("tr").hide(250);
                    $.bootstrapGrowl("Uspešno ste obrisali račun.", { type: 'danger' })

                }
            });
    }
    </script>
    <script>
        function TypeChange(element) {
            var val = $(element).val();
            $("#tabela").fadeOut(250, function () {
                $(this).load("/racuns/Reload/" + val);
                $(this).fadeIn(250);
             })
       }
    </script>
}